body {
  background-color: whitesmoke;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #444;
}

.movie-card-header {
  align-items: center;
  background-color: #343a40;
  display: flex;
  height: 80px;
  justify-content: center;
  box-shadow: 0px 19px 16px 0px rgba(0,0,0,.4);
}

.page-title {
  color: #f8f9fa;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 48px 30px;
}

.movie-card {
  color: #f8f9fa;
  background-color: #0c0c0c57;
  box-shadow: 1px 2px 20px 2px rgba(30,30,30,0.6);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 20px;
  overflow: hidden;
  width: 550px;
  min-height: 600px;
  transition: transform .8s;
  transition: 1s;
}

.movie-card:hover {
  transform: translateY(-15px);
  box-shadow: 1px 2px 30px 3px rgba(0,0,0,0.7);
}


.movie-card-image {
  width: 100%;
  min-height: 320px;
}

.movie-card-body {
  padding: 20px;
}

.movie-card-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
}

.movie-card-subtitle {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
}

.movie-card-storyline {
  font-size: 16px;
  text-align: justify;
}

.rating {
  background-color: #007bff;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 15px;
}

.movie-card-rating {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
}
